* {
box-sizing: border-box;
font-family: 'Oswald', sans-serif;
}

html {
	background: #000;
}

h1, p {
color: #fff;
font-family: 'Oswald', sans-serif;
padding: 15px;
}

#actionbox {
width: 640px;
height: 360px;
top: 100px;
position: relative;
margin: auto;
z-index: 20;
border: black solid 2px;
overflow: hidden;  
border: 2px solid #fff;
}

#bg, #bg2 {
position: absolute;
width: 100%;
z-index: -100;
}

.down {
position: absolute;
bottom: -550px;
z-index: 100;

}

.right {
position: absolute;
right: -340px;

}

.left {
	position: absolute;
	left: -350px;
	top: -30px;
}

#red-btn {
	position: absolute;
	top: 26px;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	background: red;
	
}

.up {
position: absolute;
top: -90px;
z-index: 99;
}

.bg {
position: absolute;
bottom: -40px;
opacity: 0;
z-index: 20;
}

#steamer {
	width: 40%;
}

.button {
position: absolute;
display: block;
bottom: -10px;
right: 50px;
opacity: 0;
z-index: 200;
margin: 2px;
border-radius: 15px;
background-color: gray;
}

p.button:hover {
color: black;
}

#restart {
position: absolute;
right: 0px;

}

.hidden {
position: absolute;
bottom: 27px;
left: 290px;
opacity: 0;
z-index: 99;
}

.filling {
position: absolute;
bottom: -200px;
left: 290px;
opacity: 1;
z-index: 25;
}

#sprite {
background-image: url(../imgs/shake.png);
width: 234px;
height: 274px;
top: 30px;
left: 190px;
opacity: 0;
z-index: 80;
}

#mask {
	position: absolute;
	bottom: 0px;
	left: 280px;
}
