#paring {
	background: url(../imgs/slider/wine-food.jpeg) no-repeat center;
	height: 405px;
	background-size: cover;
}

.pair li, .pair {
	@extend .ft-col;
	color: $c-darker;
	background: transparent;
	
}
