
.automatic-slider {
	li{
	height: 50vh;
	}
	
	#slider1 {
	background: url(../imgs/slider/123459307.jpg) no-repeat right;
	background-size: cover;
	}

#slider2 {
	background: url(../imgs/slider/sangria.jpg) no-repeat center;
	background-size: cover;
	}

#slider3 {
	background: url(../imgs/slider/barrels.jpg) no-repeat center;
	background-size: cover;
	}
	
#slider4 {
	background: url(../imgs/slider/food2.jpg) no-repeat center;
	background-size: cover;
	}
#slider5 {
	background: url(../imgs/slider/paring.jpg) no-repeat center;
	background-size: cover;
	}

}

.automatic-slider {
	width: 100%;
}



.unslider {
	position: relative;
}

.unslider-arrow {
	position: absolute;
	top: 50%;
	bottom: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	color: rgba(255, 255, 255, 0.3);
	font-size: 29px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	transition: 0.5s ease 0s;
}

.unslider-arrow:hover {
	color: #fff;
	background: rgba(255, 255, 255, 0.70);
}

.unslider-nav {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -24px;
}

