$c-light-gray: #d1d1d1;
$c-hover: #b1ab20; //gold
$c-darker: #606060;
$c-hover2: $c-darker * 1.5;
$c-bg1: #fff;
$trans: 0.5s ease 0s;
$c-bborder: #e0e0e0; //bottle box border

//Fonts
$f-headlines: 'Prata', serif; //font-family
$f-sub: 300 16px/120% 'Muli', sans-serif;
$f-copy: 300 13px/180% 'Muli', sans-serif;
$f-italic: italic 13px/180% 'Muli', sans-serif;

//Images
$bg-subtle: url(../imgs/handmadepaper.png);
$bg-header: url(../imgs/background.png);
$pic-header1: url(../imgs/wines/wine-mock-pinot-grigio.png);
$i-merlo: url(../imgs/wines/wine-mock-merlot.png) no-repeat left top;
$i-cabern: url(../imgs/wines/wine-mock-cabernet.png) no-repeat left top;
$i-chardo: url(../imgs/wines/wine-mock-chardonnay.png) no-repeat left top;
$i-pinot-g: url(../imgs/wines/wine-mock-pinot-grigio.png) no-repeat left top;
$i-pinot-n: url(../imgs/wines/wine-mock-pinot-noir.png) no-repeat left top;

@import 'neutralize';
@import 'menu';
@import 'slider';
@import 'fonts';
//




body {
	background: $bg-subtle;
}

#logo {
	background: url(../imgs/logos/logo-san-andreas.svg) no-repeat center;
	background-size: cover;
	height: 40px;
	width: 100px;
	margin:  0 2%;
	float: left;
	&:hover{
		opacity: 0.5;
	}
}

header {
	width: 100%;
	height: 85vh;
	position: relative;
	background: #fff;
	overflow: hidden;
	.background {
		background: $bg-header no-repeat center;
		background-size: cover;
		width: 100%;
	}
	
	.slogan {
		position: absolute;
		height: 195px;
		width: 104px;
		top: 250px;
		left: 20px;
		background: url(../imgs/slogan.png) no-repeat center;
		
	}
	
	.head-wine {
		height: 500px;
		width: 200px;
		background: $pic-header1 no-repeat;
		background-size: contain;
		position: absolute;
		right: -55px;;
		top: 0;
	}
	
	.corkscrew {
		background: url(../imgs/corkscrew.png) no-repeat center;
		background-size: contain;
		height: 259px;
		width: 200px;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.container {
	width: 320px;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
.mid-sec {
	margin-top: 5% 0;
	p{
		width: 90%;
		padding: 15% 3%;
		font: $f-copy;
		color: $c-darker;
	}
}

.bottles-sec {
	margin: 5%;
	background: #fff;
	.bottle-box {
		padding: 10px;
		border: 1px $c-bborder solid;
		position: relative;
		overflow: hidden;
	}
	
	
	h3 {
		padding: 5% 0;
		font-family: $f-headlines;
		text-align: center;
		color: $c-darker;
		cursor: pointer;
		border: 1px $c-bborder solid;
		transition: $trans;
		&:hover {
			color: $c-hover;
		}
	}
	
	p {
		font: $f-copy;
		text-align: center;
		width: 180px;
		padding: 10% 0;
		color: $c-darker;
		float: right;
	}
	
	#merlot{
		background: $i-merlo;
		background-size: 30%;
		background-position: 20px 0;

	}
	#cabern{
		background: $i-cabern;
		background-size: 30%;
		background-position: 20px 0;

	}
	#chardo{
		background: $i-chardo;
		background-size: 30%;
		background-position: 20px 0;

	}
	#pinot-g{
		background: $i-pinot-g;
		background-size: 30%;
		background-position: 20px 0;
	}
	#pinot-n{
		background: $i-pinot-n;
		background-size: 30%;
		background-position: 20px 0;
	}
}

.active {
	color: $c-hover;
}



footer {
	
	margin: 5% 0;
	
	.ft-col {
		line-height: 2;
		margin: 15px 0;
		padding-left: 50px;
		width: 100%;
		float: left;
		clear: both;
		a{
			font: $f-copy;
			color: $c-darker;
			transition: $trans;
		&:hover {
			color: $c-hover2;
			}
		}
		p{
			font: $f-copy;
			color: $c-darker;	
			font:$f-italic;
		}
		
		.sm {
			float: left;
			clear: both;
			padding: 10px 0;
			a {
				font-size: 18px;
				margin-right: 10px;

			}
		}
		
		.btn {
			padding: 2px 30px;
			float: left;
			clear: both;
			background: $c-darker;
			color: #fff;
			box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.75);
		&:hover {
			box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.75);
			color: #fff;
			}
		}
		
	}
	
	h4 {
		font-family: $f-headlines;
		color: $c-hover;
		text-align: left;
	}
	
	ul {
		list-style: none;
		padding: 0;
		
		li {
		text-align: left;	
		
		}
	}
	
}


//PAIRING PAGE

#pairing {
	background: url(../imgs/slider/wine-food.jpeg) no-repeat center;
	height: 100%;
	background-size: cover;
	position: relative;
	width: 100%;
	h1 {
		color: #fff;
		position: absolute;
		bottom: 50%;
		left: 5%;
		font-family: $f-headlines;
		text-align: center;
		text-shadow: 1px 1px 10px #000;
	}
}

.pair{
	@extend .bottles-sec;
	color: $c-darker;
	font: $f-copy;
	background: transparent;
	ul {
		background: rgba(96, 96, 96, 0.14);
	}
	h3:hover{
		color: $c-darker;
		cursor: auto;
	}
	h3.link:hover {
		color: $c-hover;
		cursor: pointer;
	}

}


//Iphone landscape
@media screen and (min-width: 568px) {
	.container {
		width: 568px;
	}
	
	header {
		height: 85vh;
	
		.corkscrew {
			left: 20%;
			width: 150px;
			height: 100px;
		}
		.head-wine {
			right: 5%;
		}
		.slogan {
			left: 25%;
			top: 100px;
		}
	}
	
	.bottles-sec {
		p{
			width: 50%;
		}
	}
	
	.mid-sec p{
		padding: 5% 0%;
	}
	
	footer{
		.ft-col {
			width: 50%;
			float: left;
			clear: inherit;
		}
	}
}

//Tablet
@media screen and (min-width: 768px) {
	.container {
		width: 80%;
	}
	
	header {
		height: 50vh;
		
		.corkscrew {
			width: 250px;
			height: 200px;
		}
		.slogan {
			top: 220px;
		}
	}
	
	.bottles-sec {
		p{
			margin-right: 20px;
		}
	}
	.menu {
		ul {
			height: auto;
		}
		li {
			padding: 50px;
		}
	}
}

//Desktop
@media screen and (min-width: 960px) {
	.container {
		max-width:  1200px;
	}
	
	header {
		height: 100vh;
		
		.corkscrew {
			height: 350px;
			width: 350px;
			left: 0;
		}
		.slogan {
			top: 400px;
			left: 50px;
			width: 200px;
			height: 250px;
			background-size: contain;
		}
		
		.head-wine {
			height: 800px;
			width: 400px;
		}
	}
	
	.bottles-sec {
		width: 100%;

	}
	
	.mid-sec {
		float: left;
		max-width: 50%;
		margin: 5% 0;
	}
	
	.ft-col {
		max-width: 25%;
	}
	.menu {
		
		li {
			padding: 30px;
		}
	}

	
	}


//.menu {
//	position: relative;
//	padding: 5px 0;
//	height: 50px;
//	background: $bg-subtle;
//	box-shadow: 1px 1px 8px #6c6868;
//	z-index: 2;
//
//	ul {
//		display: none;
//		height: 100vh;
//	}
//	
//	li {
//		display: block;
//		padding: 50px;
//		margin: 0;
//		
//		a {
//			font-size: 18px;
//		}
//		}
//	
//	a {
//		font: $f-sub;
//		font-size: 25px;
//		color: $c-light-gray;
//		transition: $trans;
//		&:hover {
//			color: $c-hover;
//		}
//	}
//}


















/*CLEARFIX*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
	}


